
//urls
$engrane: url(images/portfolio.png);
$palomita: url(images/offer.png);
$avatar: url(images/follow.png);
$url_3: url(images/heading-bg.png);
$url_4: url(images/social.png);
$url_5: url(images/icon1.png);
$url_6: url(images/icon3.png);
$url_7: url(images/icon2.png);
$url_8: url(images/icon4.png);
$url_9: url(images/icon6.png);
$url_10: url(images/post_border_bg.png);
$url_11: url(images/quote_bg.png);
$url_12: url(images/quote.png);
$url_13: url(images/f_hover.png);
$url_14: url(font/bebas___-webfont.eot);
$url_15: url(font/bebas___-webfont.eot?#iefix);
$url_16: url(font/bebas___-webfont.woff);
$url_17: url(font/bebas___-webfont.ttf);
$url_18: url(font/bebas___-webfont.svg#bebasregular);
$url_19: url(font//HelveticaNeue.eot);
$url_20: url(font/HelveticaNeue.woff);
$url_21: url(font/HelveticaNeue.ttf);

//@extend-elements
//original selectors
//input[type=submit]h1, h2, h3, h4, h5, h6
%titulos_gral {
	font-weight: normal;
	margin: 0 0 15px;
	font-family: $bebas;
}

//original selectors
//.single_blog_post h3, .single_work h3
%titulos_h3 {
	color: $dark_grey;
	font-size: 16px;
	margin-bottom: 2px;
	font-family: $bebas;
}

//original selectors
//.single_blog_post h4, .single_work h4
%titulos_h4 {
	color: $light_orange;
	font-size: 11px;
	font-family: $bebas;
}

//original selectors
//.post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment
%extend_4 {
	display: block;
	height: 75px;
	left: -85px;
	position: absolute;
	width: 75px;
}


* {
	margin: 0;
	padding: 0;
}
body {
	font-family: $sans_serif, $open_sans;
	font-size: 14px;
	line-height: 20px;
	color: $casi_black;
}
a {
	color: $black;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
input[type=text] {
	border: 1px solid $humo;
	padding: 5px;
}
input[type=password] {
	border: 1px solid $humo;
	padding: 5px;
}
textarea {
	border: 1px solid $humo;
	padding: 5px;
}
input[type=submit]h1 {
	@extend %titulos_gral;
}
h2 {
	@extend %titulos_gral;
	font-size: 25px;
	line-height: 30px;
}
h3 {
	@extend %titulos_gral;
}
h4 {
	@extend %titulos_gral;
}
h5 {
	@extend %titulos_gral;
}
h6 {
	@extend %titulos_gral;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	margin-bottom: 20px;
}
.alignleft {
	float: left;
	margin-left: 0;
}
.aligncenter {
	display: block;
	margin: 10px auto;
}
.alignright {
	float: right;
	margin-left: 10px;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.structure {
	display: block;
	margin: 0 auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1.3s ease 0s;
	//vendor-prefix found
	//-moz-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-webkit-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-o-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-ms-transition: all 1.3s ease 0s
}
.fix {
	overflow: hidden;
}
.header_area {
}
.header {
	margin: 0 auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1.3s ease 0s;
	//vendor-prefix found
	//-moz-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-webkit-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-o-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-ms-transition: all 1.3s ease 0s
}
.logo {
	span {
		color: $rose;
	}
	h1 {
		font-size: 36px;
		margin: 30px 0;
		color: $dark_orange;
		font-family: $bebas;
	}
}
.mainmenu {
	margin-top: 20px;
	margin-right: -15px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			a {
				display: block;
				padding: 10px 15px;
				text-transform: uppercase;
				color: $silver;
				font-size: 16px;
				font-family: $bebas;
				&:hover {
					color: $light_orange !important;
				}
			}
		}
	}
}
.current-page-item {
	color: $light_orange !important;
}
.active {
	color: $light_orange !important;
}
.header_bottom_area {
	background: $rose;
	min-height: 50px;
}
.main_content_area {
	margin-top: -50px;
}
.content_area {
	background: none repeat scroll 0 0 $white;
	border-left: 10px solid $white;
	border-right: 10px solid $white;
}
.slider_area {
}
.service_area {
	margin-top: 25px;
}
.single_service_container {
	margin-left: -20px;
}
.single_service {
	margin-left: 20px;
	a {
		background: none repeat scroll 0 0 $light_orange;
		color: $white;
		display: block;
		font-family: $bebas;
		font-size: 12px;
		margin-top: 20px;
		padding: 5px 12px;
		width: 30px;
	}
	h2 {
		color: $light_orange;
		font-size: 16px;
		font-family: $bebas;
	}
}
.from_blog {
	margin-top: 50px;
	span {
		margin-left: -120px;
	}
	h2 {
		background: $url_3 repeat-x scroll 0 0 rgba(0, 0, 0, 0);
		color: $dark_orange;
		font-family: $bebas;
		font-size: 18px;
		margin-left: 120px;
		line-height: 20px;
		margin-bottom: 30px;
	}
}
.single_blogpost_container {
	margin-left: -18px;
}
.single_work_container {
	margin-left: -18px;
}
.single_blog_post {
	margin-bottom: 30px;
	img {
	}
	h3 {
		@extend %titulos_h3;
	}
	h4 {
		@extend %titulos_h4;
	}
}
.single_work {
	margin-bottom: 30px;
	h3 {
		@extend %titulos_h3;
	}
	h4 {
		@extend %titulos_h4;
	}
}
.blog_post_meta {
	border-bottom: 1px solid $humo;
	border-left: 1px solid $humo;
	border-right: 1px solid $humo;
	padding-left: 25px;
	padding-top: 15px;
}
.from_works {
	margin-top: 30px;
	h2 {
		background: $url_3 repeat-x scroll 0 0 rgba(0, 0, 0, 0);
		color: $dark_orange;
		font-family: $bebas;
		font-size: 18px;
		margin-left: 140px;
		line-height: 20px;
		margin-bottom: 30px;
	}
	span {
		margin-left: -140px;
	}
}
.footer_area {
	background: none repeat scroll 0 0 $rose;
	margin-top: 40px;
}
.footer {
	background: none repeat scroll 0 0 $light_orange;
	border-left: 10px solid $white;
	border-right: 10px solid $white;
	margin: 0 auto;
	padding: 20px 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1.3s ease 0s;
	//vendor-prefix found
	//-moz-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-webkit-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-o-transition: all 1.3s ease 0s
	//vendor-prefix found
	//-ms-transition: all 1.3s ease 0s
}
.single_footer_container {
	margin-left: -25px;
}
.single_footer {
	color: $white;
	margin-left: 25px;
	padding: 10px;
	h2 {
		font-family: $bebas;
	}
}
.social_area {
	margin-left: -7px;
	margin-top: 15px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			a {
				display: block;
				margin-left: 7px;
				padding: 6px 16px;
				text-indent: -99999px;
			}
		}
	}
}
.facebook {
	background: $url_4 no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.twitter {
	background: $url_4 no-repeat scroll -35px 0 rgba(0, 0, 0, 0);
}
.email {
	background: $url_4 no-repeat scroll -70px 0 rgba(0, 0, 0, 0);
}
.feed {
	background: $url_4 no-repeat scroll -105px 0 rgba(0, 0, 0, 0);
}
.vimeo {
	background: $url_4 no-repeat scroll -140px 0 rgba(0, 0, 0, 0);
}
.single_header_title {
	background: none repeat scroll 0 0 $light_orange;
	min-height: 50px;
	margin-bottom: 30px;
	h1 {
		color: $white;
		font-family: $bebas;
		font-size: 24px;
		line-height: 45px;
		padding-left: 10px;
	}
}
.single_content_area {
	position: relative;
}
.single_main_content {
	position: relative;
}
.single_post {
	margin-bottom: 50px;
}
.post_pro_img_normal {
	@extend %extend_4;
	background: $url_5 no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.post_pro_img_video {
	@extend %extend_4;
	background: $url_6 no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.post_pro_img_slider {
	@extend %extend_4;
	background: $url_7 no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.post_pro_img_quote {
	@extend %extend_4;
	background: $url_8 no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.post_pro_img_attachment {
	@extend %extend_4;
	background: $url_9 no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.attachment {
	h2 {
		color: $dark_orange;
		font-family: $bebas;
		font-size: 18px;
		margin-bottom: 0;
	}
	h5 {
		color: $dark_grey;
		font-family: $helv;
		font-size: 10px;
	}
	p {
		padding: 10px;
	}
}
.post_excerpt {
	margin-top: 20px;
}
.post_meta {
	padding: 10px;
	span {
		color: $light_orange;
		font-family: $bebas;
		font-size: 12px;
	}
	p {
		color: $dark_grey;
		margin-bottom: 10px;
	}
}
.excerpt {
	padding: 10px;
	width: 450px;
	h2 {
		font-family: $bebas;
		font-size: 18px;
		color: $light_orange;
	}
	p {
		color: $casi_black;
		margin-bottom: 10px;
	}
}
.post_border_bottom {
	background: $url_10 repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 13px;
	margin-top: 25px;
}
.quote {
	background: $url_11 repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 20px;
	margin-bottom: 55px;
	p {
		background: $url_12 no-repeat scroll left top rgba(0, 0, 0, 0);
		padding-left: 35px;
		padding-top: 15px;
	}
}
.pagination {
	margin-top: 30px;
	ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			a {
				display: block;
				color: $white;
				background: $light_orange;
				padding: 8px 15px;
				font-family: $bebas;
				&:hover {
					background: $rose;
				}
			}
		}
	}
}
.single_sidebar {
	margin-bottom: 30px;
	h2 {
		background: $url_3 repeat-x scroll 0 0 rgba(0, 0, 0, 0);
		color: $dark_orange;
		font-family: $bebas;
		font-size: 15px;
		line-height: 18px;
		margin-left: 110px;
		span {
			margin-left: -110px;
		}
	}
}
.category_list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	li a:hover {
		text-decoration: underline;
	}
}
.post_quote {
	padding: 30px;
	p {
		border-left: 10px solid $light_orange;
		padding-left: 15px;
		&:first-letter {
			font-size: 250%;
			color: $light_orange;
		}
	}
}
.author_img {
	background: none repeat scroll 0 0 $white;
	border: 1px solid $humo;
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
	padding: 3px;
}
.cf_container {
	margin-top: 35px;
}
.address {
	p {
	}
	span {
		color: $light_orange;
	}
}
.cf_txt {
	border: 1px solid $light_orange !important;
	height: 30px;
	width: 60%;
	outline: none;
}
.cf_email {
	height: 40px;
	width: 63%;
	padding-left: 5px;
	border: 1px solid $light_orange;
	outline: none;
}
.cf_msg {
	border: 1px solid $light_orange;
	height: 200px;
	overflow: auto;
	font-size: 14px;
	outline: none;
}
.cf_submit {
	background: none repeat scroll 0 0 $light_orange;
	border: medium none;
	color: $white;
	font-family: $bebas;
	font-size: 23px;
	height: 45px;
	outline: medium none;
	width: 103%;
	cursor: pointer;
	&:hover {
		//vendor-prefix found
		//-webkit-transition: background 0.5s ease
		//vendor-prefix found
		//-moz-transition: background 0.5s ease
		//vendor-prefix found
		//-ms-transition: background 0.5s ease
		//vendor-prefix found
		//-o-transition: background 0.5s ease
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: background 0.5s ease;
		background: $white;
		color: $light_orange;
		border: 1px solid $light_orange;
	}
}
.filtering_menu {
	margin-bottom: 30px;
	ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-right: 15px;
			a {
				color: $dark_grey;
				display: block;
				font-family: $bebas;
				padding: 10px 15px;
				&:hover {
					color: $white !important;
					background: $light_orange;
				}
			}
		}
	}
}
.act {
	color: $white !important;
	background: $light_orange;
}
.portfolio_related_post {
	margin-top: 15px;
	h2 {
		background: $url_3 repeat-x scroll 0 0 rgba(0, 0, 0, 0);
		color: $light_orange;
		font-family: $bebas;
		font-size: 18px;
		line-height: 18px;
		margin-left: 140px;
		margin-bottom: 30px;
		width: 84.5%;
		span {
			margin-left: -140px;
		}
	}
}
.featured {
	background: $light_orange $url_13 no-repeat scroll center;
}
::-webkit-input-placeholder {
	color: $light_orange;
	font-family: $bebas;
}
:-moz-placeholder {
	color: $light_orange;
	font-family: $bebas;
}
::-moz-placeholder {
	color: $light_orange;
	font-family: $bebas;
}
:-ms-input-placeholder {
	color: $light_orange;
	font-family: $bebas;
}
.selectnav {
}
@font-face {
	font-family: $bebas;
	src: $url_15 format('embedded-opentype'), $url_16 format('woff'), $url_17 format('truetype'), $url_18 format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $helv_neu;
	src: local('font/HelveticaNeue'), $url_20 format('woff'), $url_21 format('truetype');
}
.portfolio h2 {
	background: $engrane no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 68px;
}
.offer h2 {
	background: $palomita no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 70px;
}
.follow h2 {
	background: $avatar no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 60px;
}
.gallery_container img {
	border: 1px solid $dark_orange;
}
.cf form {
}
.portfolio_single_item img {
	margin-bottom: 25px;
}
.featured_img:hover {
	opacity: 0.2;
}