//colores
$black: #000;
$white: #fff;
$dark_orange: #e8603c;
$rose: #f3af9d;
$dark_grey: #999;
$humo: #ddd;
$casi_black: #414141;
$silver: #bcbcbc;
$light_orange: #e8663c;

//fonts
$bebas: bebasregular;
$helv_neu: HelveticaNeue;
$sans_serif: sans-serif;
$open_sans: open-sans;
$helv: helvetica;

//urls imgagenes
$engrane: url('../images/portfolio.png');
$palomita: url('../images/offer.png');
$avatar: url('../images/follow.png');
$comillas: url('../images/quote.png');

//urls iconos
$redes: url('../images/social.png');
$icon_pic: url('../images/icon1.png');
$icon_play: url('../images/icon3.png');
$icon_file: url('../images/icon2.png');
$icon_comilla: url('../images/icon4.png');
$icon_eslabon: url('../images/icon6.png');
$icon_a: url('../images/f_hover.png');

//urls barras divisoras
$barra1: url('../images/heading-bg.png');
$barra2: url('../images/post_border_bg.png');
$barra3: url('../images/quote_bg.png');

//urls fuentes
$font_1: url('../font/bebas___-webfont.eot');
$font_2: url('font/bebas___-webfont.eot');
$font_3: url('font/bebas___-webfont.woff');
$font_4: url('font/bebas___-webfont.ttf');
$font_5: url('font/bebas___-webfont.svg');
$font_6: url('font//HelveticaNeue.eot');
$font_7: url('font/HelveticaNeue.woff');
$font_8: url('font/HelveticaNeue.ttf');